@import "lib/common";
@import "compass/css3/opacity";
@import "compass/css3/transition";

.select2-container .select2-choice .sprites-pinkage-dropdown {
  position: absolute;
  top: 9px;
  right: 0;
}

.menu .select2-container#s2id_sort .select2-choice .sprites-pinkage-dropdown {
  top: 22px;
  right: 15px;
}

.pinkage_star {
  width: 15px;
  height: 14px;
  display: inline-block;
  position: relative;
  margin-right: 5px;
}

.sprites-pinkage-star, .sprites-pinkage-star-empty {
  position: absolute;
}

.sprites-icon-camera {
  vertical-align: middle;
  background-image: url('//dassets.cre.ma/latte/assets/pinkage-co-kr/pc/sprites.png');
  background-repeat: no-repeat;
  width: 37px;
  height: 30px;
  background-position: -11px -448px;
  margin-top: 0 !important;
}

.popup_new form .input-image-container {
  top: 73% !important;
}

form .input-image-container {
  top: 65% !important;
}

.product_reviews_list .input-image-container .add-image-caption {
  margin-top: 6px;
}

.dataTables_paginate {
  text-align: center;
}

.paging_full_numbers a.first, a.last {
  display: none;
}

.paging_full_numbers a.paginate_button, .paging_full_numbers a.paginate_active {
  border: 0;
  color: #A5A5A5;
}

.paging_full_numbers a.paginate_active {
  color: #353535;
  background: white;
}

.paginate_button_disabled, .paginate_button_disabled:active {
  background: white !important;
}

.paging_full_numbers a.paginate_button, .paging_full_numbers a.paginate_active {
  font-size: 13px;
}

.images-count-indicator {
  position: absolute;
  @include clearfix;
  width: 13px;
  left: 50%;
  height: 6px;
  margin-left: -8px;
  bottom: 14px;

  &.image-count-2 {
    width: 45px;
    margin-left: -13px;
  }

  &.image-count-3 {
    width: 70px;
    margin-left: -23px;
  }

  &.image-count-4 {
    width: 90px;
    margin-left: -29px;
  }

  .indicator-dot {
    float: left;
    background: image-url('pinkage-co-kr/pc/reviews/pinkage-indicator-dot.png');
    width: 8px;
    height: 8px;
    margin-left: 14px;
    @include opacity(0.5);
    @include transition(opacity 0.2s);

    &.selected {
      @include opacity(0.9);
    }
  }
}

.thumbnail-container .images-count-indicator, .reviews_index_gallery_review__thumbnail_container .images-count-indicator {
  left: inherit;
  right: 3px;
  width: 3px;
  height: 3px;
  bottom: inherit;
  top: 8px;
  margin-top: 4px;

  &.image-count-1 {
    display: none;
  }

  &.image-count-2 {
    width: 35px;
    margin-right: 2px;
  }

  &.image-count-3 {
    width: 52px;
    margin-right: 0;
  }

  &.image-count-4 {
    width: 66px;
    margin-right: -1px;
  }

  .indicator-dot {
    background: image-url('pinkage-co-kr/pc/reviews/pinkage-indicator-dot.png');
    width: 8px;
    height: 8px;
    margin-left: 6px;
    @include opacity(0.8);
  }
}

#review-edit-form #edit-form-container {
  width: 93% !important;
  margin: 0;
}

.edit-comment-container {
  top: 2px !important;
  right: 50px !important;
}

#review-edit-form #s2id_review_score {
  padding: 8px 10px !important;
  height: 26px !important;
  width: 300px !important;
}

li.review {
  &:first-child {
    border-top: none;
  }
}

.products_reviews_list_header {
  border-bottom: none;
}

.reviews_index__review_options_search {
  border-bottom: 1px solid #dadada;
}
