.sprites-pinkage-dropdown {
  position: absolute;
  top: 9px;
  right: 0;
}

.pinkage_star {
  width: 15px;
  height: 14px;
  display: inline-block;
  position: relative;
  margin-right: 5px;
}

.sprites-pinkage-star, .sprites-pinkage-star-empty {
  position: absolute;
}

.sprites-icon-camera {
  vertical-align: middle;
  background-image: url(//dassets.cre.ma/latte/assets/pinkage-co-kr/pc/sprites.png);
  background-repeat: no-repeat;
  width: 37px;
  height: 30px;
  background-position: -11px -448px;
  margin-top: 0 !important;
}

.popup_new form .input-image-container {
  top: 73% !important;
}

form .input-image-container {
  top: 65% !important;
}

.product_reviews_list .input-image-container .add-image-caption {
  margin-top: 6px;
}

.dataTables_paginate {
  text-align: center;
}

.paging_full_numbers a.first, a.last {
  display: none;
}

.paging_full_numbers a.paginate_button, .paging_full_numbers a.paginate_active {
  border: 0;
  color: #A5A5A5;
}

.paging_full_numbers a.paginate_active {
  color: #353535;
  background: white;
}

.paginate_button_disabled, .paginate_button_disabled:active {
  background: white !important;
}

.paging_full_numbers a.paginate_button, .paging_full_numbers a.paginate_active {
  font-size: 13px;
}
