.sprites-pinkage-dropdown {
  position: absolute;
  top: 9px;
  right: 0;
}

.pinkage_star {
  width: 15px;
  height: 14px;
  display: inline-block;
  position: relative;
  margin-right: 5px;
}

.sprites-pinkage-star {
  position: absolute;
}

.popup_new form .input-image-container {
  top: 73% !important;
}

form .input-image-container {
  top: 65% !important;
}

form .input-image-container .add-image-caption {
  margin-top: 6px;
}
