<%= content_tag_for :li, comment, class: "review_comment #{local_assigns[:klass]}" do %>
  <div>
    <div class="review_comment__message_container">
      <span class="review_comment__author_name"><%= comment.user_display_name %></span>
      <span class="review_comment__message"><%= comment.message.html %></span>
    </div>
    <div class="review_comment__date"><%= comment.created_at.strftime('%m.%d') if comment.created_at %></div>
  </div>
<% end %>
