<% return unless product_reviews.total_pages > 1 %>
<div class="widget-footer">
  <% if product_reviews.total_pages > 1 %>
    <%
    args = {
      window: 4,
      remote: true,
      params: {aloading: '.page'}
    }
    %>
    <%= paginate(product_reviews, args) %>
  <% end %>
</div>
