<% mobile_posts_per_line = widget.mobile_posts_per_line %>
<%= content_tag :ul, class: "gallery grid gallery_grid__#{mobile_posts_per_line}_columns_container gallery--narrow_padding", data: {
    columns_count: mobile_posts_per_line,
    column_class: 'grid__col',
    item_class: 'grid__item'
  } do %>
  <% if @reviews.empty? %>
    <%= render 'common/reviews/no_reviews' %>
  <% else %>
    <%= render partial: 'reviews/review_gallery', collection: @reviews, as: :review %>
  <% end %>
<% end %>
<div class="panel-footer">
  <%= render 'common/shared/pagination', resources: @reviews %>
</div>
