<div class="gallery_product__section gallery_product__review">
  <%= link_to mobile_review_path(review), data: {link_target: 'window'} do %>
    <div class="gallery_product__review_inner">
      <div class="gallery_product__review_image_box">
        <% if review.photo? %>
          <%= image_tag review.image1_url(:thumbnail), class: 'gallery_product__review_image smooth review-image' %>
        <% else %>
          <span class="gallery_product__text_icon sprites-pinkage-icon-text"></span>
        <% end%>
      </div>
      <div class="gallery_product__review_message">
        <%= review.message_without_tag.limit(max_bytes_per_line: widget.mobile_review_message_max_bytes, max_lines: 1, flatten: true).html %>
      </div>
    </div>
  <% end %>
</div>

